/.idea/
/tsconfig.json
/server/src/config/hladampsychologaFirebaseAdminSDK.json
/server/node_modules/
/server/package.json
/server/package-lock.json
/client/node_modules/
/client/package.json
/client/package-lock.json
/client/tsconfig.json
/client/.env.local
/shared/node_modules
/shared/package.json
/shared/package-lock.json
/shared/tsconfig.json
/shared/dist/
