
/.idea/

/server_old/src/config/hladampsychologaFirebaseAdminSDK.json
/server_old/node_modules/

/client/node_modules/
/client/.env.local

/shared/node_modules
/shared/dist/
/client/build/
/.github/
/.firebase/

/functions/src/config/hladampsychologaFirebaseAdminSDK.json
/functions/lib/config/hladampsychologaFirebaseAdminSDK.json
/functions/src/config/secret.json
/functions/lib/config/secret.json
/functions/lib/functions/src/config/hladampsychologaFirebaseAdminSDK.json
/firebase-debug.log